/* Font for Website */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

/* Website body */
html,
body {
  font-family: "Poppins";
  padding: 0;
  margin: 0;
  background-color: white; 
  color: black;
}

/* Container for the paragraph and potrait class */
.content {
  margin-left: auto;
  margin-right: auto;
  margin-top: 225px;
  width: 50%;
  font-size: 35px;
  font-weight: bold;
  display: flex;
  flex-direction: row;
}