/* Font for Website */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

/* Aligning and decorating navigation bar and navigation items */
.navbar {
  font-family: "Poppins";
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 40px;
  background-color: #030711; 
}

/* Placement of page logo */
.logo-container {
  display: flex;
  margin-left: 200px;
  padding: 10px;
}

/* Navigation container, holding the navigation items */
.nav-container {
  margin-right: 200px;
}

/* Items of navigation container */
.nav-item {
  text-decoration: none;
  color: white;
  padding: 10px;
  border-radius: 7px;
  transition: 0.3s;
}

/* Animations on hover for items */
.nav-item:hover {
  color: black;
  background-color: white;
}

/* Active selector functionality */
.nav-item.active {
  border: 1px solid white;
}

/* General styles for footer */
footer {
  font-family: "Poppins";
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #030711;
  color: white;
  text-align: center;
  padding: 10px;
}

/* Footer container for text */
.footer-container {
  display: flex;
  align-items: center;
  justify-content: center;
}